.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#icons.hspace80
.content
  .container.clearfix
      .col-1of1
          h2.head28 Code Example Box
      .hspace40
      .col-1of1
          .col-1of2
              .clearfix
                  .code-box
                      ol
                          li
                              span.green
                                  | &lt;div
                                  span.blue  class&equals;
                                  span.red &quot;col-1of2&quot;
                                  | &gt;
                          li
                              span.indent1.green
                                  | &lt;div
                                  span.blue  class&equals;
                                  span.red &quot;clear-fix&quot;
                                  | &gt;
                          li
                              span.indent2.green
                                  | &lt;div
                                  span.blue  class&equals;
                                  span.red &quot;code-box&quot;
                                  | &gt;
                          li
                              span.indent3.green &lt;ol&gt;
                          li
                              span.indent4.green &lt;li&gt;
                          li
                              span.indent5.green
                                  | &lt;span
                                  span.blue  class&equals;
                                  span.red &quot;indent5 green&quot;
                                  | &gt;
                              | this is a list item
                              span.green &lt;&sol;span&gt;
                          li
                              span.indent4.green &lt;&sol;li&gt;
                          li
                              span.indent3.green &lt;&sol;ol&gt;
                          li
                              span.indent2.green &lt;&sol;div&gt;
                          li
                              span.indent1.green &lt;&sol;div&gt;
                          li
                              span.green &lt;&sol;div&gt;
          .col-1of2.last.blank
.hspace100
