.hspace80
hr
.content
    .container.clearfix
        != partial("../_shared/back-to-top")
#callouts.hspace80
.content
    .container.clearfix
        .col-1of1
            h2.head28 Special Text Callouts
            p.text16 Setting pieces of text <em>(quotes, citations, wells, etc.)</em> apart from the content around it.

            .hspace50

        .col-1of1
            h4.head20.lite.caps Wells
            .hspace10
            .col-1of4
                h6.label.nomargin
                    span.highlight.ltgray well
                .hspace5
                .well
                    h6.head16 Regular
                    p.text14 Wrap content in so it stands off the page.
            .col-1of4
                h6.label.nomargin
                    span.highlight.ltgray well
                    span.highlight.green dark
                .hspace5
                .well.dark
                    h6.head16 Dark
                    p.text14 Plus a "dark" class in case you need it.
            .col-1of4
                h6.label.nomargin
                    span.highlight.ltgray well
                    span.highlight.green darker
                .hspace5
                .well.darker
                    h6.head16 Darker
                    p.text14 And even "darker" than that if you need it too.
            .col-1of4.last
                h6.label.nomargin
                    span.highlight.ltgray well
                    span.highlight.green light
                    span.highlight drop-shadow
                .hspace5
                .well.light.drop-shadow
                    h6.head16 Light
                    p.text14 Oh ya. And a "light" class too—just in case.
.hspace100