.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#banners.hspace60
.content
    .container.clearfix
        .col-1of1
            h3.head28 Banner Background Colors
            p.text16 Colors used to flavor parts of the site.
        .hspace50
        .col-1of1
            h4.lite.caps
                span.head20 Gray
                span.head14 (Default)
            .hspace5
            .col-1of1
                .color-swatch.white.banner.gray
                    | #35393C
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Gray
                span.head14 (With Texture)
            .hspace5
            .col-1of1
                .color-swatch.white.banner.gray.texture
                    | #35393C
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Blue
                span.head14 (Cloud)
            .hspace5
            .col-1of1
                .color-swatch.white.banner.blue
                    | #0064B9
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Blue
                span.head14 (With Texture)
            .hspace5
            .col-1of1
                .color-swatch.white.banner.blue.texture
                    | #0064B9
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Red
                span.head14 (Managed)
            .hspace5
            .col-1of1
                .color-swatch.white.banner.red
                    | #C40022
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Red
                span.head14 (With Texture)
            .hspace5
            .col-1of1
                .color-swatch.white.banner.red.texture
                    | #C40022